---
import FileSelector from "../../components/FileSelector";
import ProjectManagement from "../../components/ProjectManagement.astro";
import Software from "../../components/Software.astro";
import { departments } from "../../data/departments.json";
import PageLayout from "../../layouts/PageLayout.astro";
import type { itemT } from "../../types/item";
export async function getStaticPaths() {
  return departments.map((department) => {
    return {
      params: {
        department: department.name
          .replaceAll(" ", "-")
          .replaceAll("&", "")
          .toLowerCase(),
      },
      props: {
        name: department.name,
        imageUrl: department.imageUrl,
        content: department.content,
        items: department.items,
      },
    };
  });
}

interface Props {
  name: string;
  imageUrl: string;
  content: string;
  items: itemT[];
}

const { name, imageUrl, content, items } = Astro.props;
---

<PageLayout title={`${name}`} subtitle="" active="departments" image={imageUrl}>
  <div class="bg-palette-150 flex flex-col px-2 md:px-8 lg:px-16 py-4 md:py-32">
    <div
      class="mx:auto my-auto md:mx-0 flex flex-col text-justify bg-palette-100 w-full md:max-w-[60%] p-4 rounded-lg shadow-md"
    >
      <h3
        class="font-bold font-righteous text-xl md:text-3xl lg:text-4xl uppercase text-palette-600"
      >
        {name}
      </h3>
      <p
        class="text-justify hyphens-auto md:text-xl w-full font-roboto"
        set:html={content}
      />
    </div>
  </div>
  <div class="bg-palette-300 flex flex-col py-4 md:py-8 px-2 md:px-8 lg:px-16">
    <h3
      class="font-bold font-righteous text-xl md:text-3xl lg:text-4xl uppercase text-palette-500 mx-auto mb-4 md:mb-10 text-center"
    >
      Explore this department's work
    </h3>
    <FileSelector items={items} department={name} client:only />
  </div>
  {name === "Project Management" && <ProjectManagement />}
  {name === "Software" && <Software />}
</PageLayout>
