---
import PersonCard from "../components/PersonCard.astro";
import { people } from "../data/people.json";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="The Team - Penelope LTD."
  header="Meet the team..."
  active="the team"
>
  <main class="w-full md:w-3/4 mx-auto">
    <div class="w-full flex flex-col lg:flex-row mt-10 gap-4">
      {
        people
          .slice(0, 4)
          .map((person) => (
            <PersonCard
              name={person.name}
              imageUrl={person.image}
              role={person.role}
            />
          ))
      }
    </div>
    <div class="w-full flex flex-col lg:flex-row mt-10 gap-4">
      {
        people
          .slice(4, 8)
          .map((person) => (
            <PersonCard
              name={person.name}
              imageUrl={person.image}
              role={person.role}
            />
          ))
      }
    </div>
    <div class="w-full flex flex-col lg:flex-row mt-10 mb-10 gap-4">
      {
        people
          .slice(8)
          .map((person) => (
            <PersonCard
              name={person.name}
              imageUrl={person.image}
              role={person.role}
            />
          ))
      }
    </div>
  </main>
</Layout>
