---
import LinkButton from "./LinkButton.astro";

interface Props {
  textFirst?: boolean;
  customImage?: boolean;
  imageUrl?: string;
  imageBg?: `bg-palette-${number}`;
  textBg?: `bg-palette-${number}`;
  titleColor?: `text-palette-${number}`;
  contentColor?: `text-palette-${number}`;
  buttonLink?: string;
  buttonText?: string;
  title: string;
  content: string;
  padBoth?: boolean;
  invertButton?: boolean;
  tw?: string;
}

const {
  textFirst = true,
  customImage = false,
  imageUrl,
  imageBg = "bg-palette-500",
  textBg = "bg-palette-100",
  titleColor = "text-palette-500",
  contentColor = "text-black",
  buttonLink,
  buttonText,
  title,
  content,
  padBoth = false,
  invertButton = false,
  tw,
} = Astro.props;
---

<div
  class={`w-full grid grid-cols-1 md:grid-cols-2 md:flex-row ${tw ? tw : ""} ${
    padBoth ? "px-2 md:px-14 lg:px-20" : ""
  }`}
>
  <div
    class={`w-full md:aspect-square flex flex-col ${
      textFirst ? "order-1" : "order-2"
    } md:my-auto  ${textBg} py-4 md:py-0 lg:py-4`}
  >
    <div class={`my-auto mx-auto px-2 md:px-8 lg:px-16 flex flex-col`}>
      <h3
        class={`font-bold font-montserrat text-xl md:text-3xl lg:text-4xl uppercase ${titleColor}`}
      >
        {title}
      </h3>
      <p
        class={`text-black text-base md:text-lg lg:text-xl text-justify hyphens-auto mt-4 mx-auto ${contentColor}`}
      >
        {content}
      </p>
      {
        buttonLink && buttonText && (
          <LinkButton
            link={buttonLink}
            text={buttonText}
            tw="mt-4"
            inverted={invertButton}
          />
        )
      }
    </div>
  </div>
  <div
    class={`w-full flex flex-col ${
      textFirst ? "order-2" : "order-1"
    } md:aspect-square`}
  >
    {
      customImage ? (
        <slot />
      ) : (
        <div class={`w-full h-full ${imageBg} flex py-4 md:py-0`}>
          <img
            class="rounded-3xl object-scale-down mx-auto my-auto max-w-[75%] max-h-80 md:max-h-[60%]"
            src={imageUrl}
          />
        </div>
      )
    }
  </div>
</div>
