---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  subtitle: string;
  active: "home" | "the team" | "departments" | "faunafinder";
  image?: string;
  includeReact?: boolean;
}

const { title, subtitle, active, image, includeReact = false } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Penelope LTD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&family=Roboto&display=swap"
      rel="stylesheet"
    />
    {
      includeReact && (
        <>
          <script
            is:inline
            type="application/javascript"
            src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"
          />
          <script
            is:inline
            type="application/javascript"
            src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"
          />
          <script
            is:inline
            type="application/javascript"
            src="https://unpkg.com/babel-standalone@^6/babel.js"
          />
          <script is:inline type="text/babel" src="/fileSelector.js" />
        </>
      )
    }
  </head>
  <body class="bg-palette-100">
    <Navbar active={active} />
    <main id="content">
      <div
        class="relative py-16 md:py-32 bg-palette-600 text-palette-100 uppercase flex flex-col font-roboto"
      >
        <div class="flex flex-col w-full md:w-1/2 lg:w-3/4">
          <h1
            class="text-4xl md:text-6xl lg:text-8xl mx-auto md:mr-0 md:ml-8 font-bold w-full text-center md:text-left md:w-1/2 2xl:w-max"
          >
            {title}
          </h1>
          <h2
            class="mx-auto text-center md:text-left md:mr-0 md:ml-8 text-lg md:text-xl lg:text-2xl"
          >
            {subtitle}
          </h2>
        </div>
        {
          image && (
            <img
              src={`${import.meta.env.BASE_URL}${image}`}
              class="my-4 mx-auto md:m-0 md:absolute md:top-full md:right-10 md:-translate-y-1/2 border-8 lg:border-[16px] xl:border-[22px] border-palette-100 w-48 lg:w-52 xl:w-96 aspect-square object-cover"
            />
          )
        }
      </div>
      <div class="w-full h-11 bg-palette-150"></div>
      <slot />
    </main>
    <Footer />
  </body>
</html>
